@import url('https://fonts.googleapis.com/css?family=Lobster');

$background: #ffffff;

$top-left: #b23665;
$top-center: #e9945b;
$top-right: #892262;
$center-left: #d15ba2;
$center-right: #fdcc9a;
$btm-left: #db91bf;
$btm-center: #e27960;
$btm-right: #e26140;

$font-primary: Arial;
$font1: 'Lobster', cursive;

body{
    margin: 0;
    background-color: $background;
}

table{
    height: 100vh !important;
    td{
        width: 33.3333%;
        height: 33.3333%;
        cursor: pointer;
    }
}
.res{
    color: white;
    text-align: center;
    vertical-align: middle;
    font-family: $font-primary;
    
    .text-box{
        position: relative;
    }
    
    h1{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    
    h1,h2,h3,h4,p{
        margin:10px;
        vertical-align: middle;
        text-align: center;
    }
}


#res1{ 
    background-color:$top-left; 
}

#res2{ background-color:$top-center; }
#res3{ background-color:$top-right; }
#res4{ background-color:$center-left; }
#res5{ 
    text-align: center;
    font-family: $font1 !important;
    background-color:white;
    color: black !important;
    cursor: auto !important;
    
    h1{ font-size: 50px !important; }
    p{ font-size: 20px !important; }
}
#res6{ 
    background-color:$center-right; 
    color: #751b14;
}
#res7{ background-color:$btm-left; }
#res8{ background-color:$btm-center; }
#res9{ background-color:$btm-right; }