<html>
    <head>
        <link href="css/main.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <table width="100%" height="100%" style="border-collapse:collapse;">
            <tr>
                <td class="res" id="res1">
                    <h1>GRE</h1>
                    <h3>Goal: 330</h3>
                </td>
                <td class="res" id="res2">
                    <h3>Read 2+ Books a Month</h3>
                </td>
                <td class="res" id="res3">
                    <h1>Pass Driving Test</h1>
                    <h3>Before March</h3>
                </td>
            </tr>
            <tr>
                <td class="res" id="res4"></td>
                <td id="res5">
                    <h1>2017</h1>
                    <h3>Resolution</h3>
                </td>
                <td class="res" id="res6"></td>
            </tr>
            <tr>
                <td class="res" id="res7"></td>
                <td class="res" id="res8"></td>
                <td class="res" id="res9"></td>
            </tr>
        </table>
    </body>
</html>