@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  margin: 0;
  background-color: #ffffff; }

table {
  height: 100vh !important; }
  table td {
    width: 33.3333%;
    height: 33.3333%;
    cursor: pointer; }

.res {
  color: white;
  text-align: center;
  vertical-align: middle;
  font-family: Arial; }
  .res .text-box {
    position: relative; }
  .res h1 {
    font-size: 20px; }
  .res p {
    font-size: 15px; }
  .res h1, .res h2, .res h3, .res h4, .res p {
    margin: 10px;
    vertical-align: middle;
    text-align: center; }

#res1 {
  background-color: #b23665; }

#res2 {
  background-color: #e9945b; }

#res3 {
  background-color: #892262; }

#res4 {
  background-color: #d15ba2; }

#res5 {
  text-align: center;
  font-family: "Lobster", cursive !important;
  background-color: white;
  color: black !important;
  cursor: auto !important; }
  #res5 h1 {
    font-size: 50px !important; }
  #res5 p {
    font-size: 20px !important; }

#res6 {
  background-color: #fdcc9a;
  color: #751b14; }

#res7 {
  background-color: #db91bf; }

#res8 {
  background-color: #e27960; }

#res9 {
  background-color: #e26140; }
